.forgotPasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 15vh;

}

.forgotPasswordBox {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPasswordHeading {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
}

.forgotPasswordEmail input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  width: 17vw;
}

.forgotPasswordBtn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.forgotPasswordBtn:hover {
  background-color: #0069d9;
}
