.updatePasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top: 20vh;
}

.updatePasswordBox {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 400px;
}

.updatePasswordHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
}

.loginPassword {
  margin-bottom: 20px;
}

.loginPassword input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.loginPassword input:focus {
  border-bottom-color: #007bff;
  outline: none;
}

.updatePasswordBtn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.updatePasswordBtn:hover {
  background-color: #0062cc;
}
